.wrapper {
  background-color: transparent;
}
.nav__ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-around;
}
a.active {
  background-color: red;
}

@media (max-width: 370px) {
  .nav__ul {
    display: block;
  }
}