.wrapper {
  --border-radius: 16px;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 568px;
  width: 100%;
}
.h1 {
  /* font-size: 2.6rem; */
  margin-bottom: 1.5rem;
}

p.info {
  display: inline;
}

.linksWrapper {
  margin: 1.5rem 0;
}

.clicks {
  text-align: left;
  /* matches padding from FancyLink.module.css --padding value  */
  padding-left: 8px;
  font-weight: 500;
}

.signup {
  color: var(--sky11);
  text-decoration: 2px solid underline;
  cursor: pointer;
  margin-bottom: 1rem;
  display: inline-block;
}